<div>
  <h3>Adicionar Novo Endereço</h3>
</div>
<form class="example-container" [formGroup]="enderecoForm" (ngSubmit)="addEndereco(enderecoForm.value)">

  <mat-form-field>
    <input matInput name="logradouro" placeholder="Nome do Logradouro" formControlName="logradouro">
  </mat-form-field>

  <mat-form-field>
    <input  matInput name="bairro" placeholder="Bairro" formControlName="bairro">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="cidade" placeholder="Cidade" formControlName="cidade">
  </mat-form-field>

    <mat-form-field>
    <input matInput name="cep" placeholder="CEP" formControlName="cep">
  </mat-form-field>

    <mat-form-field>
    <input matInput name="uf" placeholder="UF" formControlName="uf">
  </mat-form-field>

  <button type="submit" [disabled]="!enderecoForm.valid" mat-button color="primary">Adicionar</button>
</form>
